<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <div class="float">
          <button nbButton status="danger" (click)="CreateCategory(dialog)">Create Main Category</button>
        </div>
      </nb-card-header>
      <nb-card-body>
        <!-- <ng2-smart-table [settings]="settings" [source]="MainCategorySource">
                </ng2-smart-table> -->

        <table class="table">
          <thead>
            <tr>
              <th scope="col" (click)="sort('cid')">ID &nbsp; <i class="fa fa-sort"></i></th>
              <th scope="col" (click)="sort('categoryName')">Category Name &nbsp; <i class="fa fa-sort"></i></th>

              <th scope="col">Actions</th>
              <th scope="col" rowspan="3">Sub Category</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of MainCategorySource | paginate : 
                              {
                                itemsPerPage: itemsPerPage,
                                currentPage: page,
                                totalItems: totalItems
                              } | orderBy: key: reverse">
              <th scope="row"> {{ item.cid}}</th>
              <td>{{item.categoryName}}</td>
              <td>
                <button nbButton (click)="openSubCategoryDetails(item.cid)">Add Sub Category</button>
              </td>
              <div>
            <tr *ngFor="let sub of item.subCategoryList">
              <th scope="row"> {{ sub.sub_c_id}}</th>
              <td>{{sub.categoryName}}</td>
              <td><button nbButton (click)="SubCategoryDetails(sub.sub_c_id, dialog1)">Add Details</button>
                <i class="fa-solid fa-pen" title="Edit"></i>
                        <i class="fa-solid fa-trash" title="Delete"></i></td>
            </tr>
  </div>
  </tr>

  </tbody>
  </table>
  <pagination-controls class="pagi" (pageChange)="ViewMainCategoryPage((page = $event))"></pagination-controls>
  <div class="float">
    <nb-select class="form-select" [selected]="5" [(ngModel)]="itemsPerPage" (ngModelChange)="refreshCountries()">
      <nb-option [value]="5">5 items per page</nb-option>
      <nb-option [value]="10">10 items per page</nb-option>
      <nb-option [value]="25">25 items per page</nb-option>
    </nb-select>
  </div>

  <!-- <table mat-table [dataSource]="dataSource" class="table">
    <ng-container matColumnDef="categoryName">
      <th mat-header-cell *matHeaderCellDef>
        <span [style.paddingLeft.px]="40"> Category Name </span>
      </th>
      <td mat-cell *matCellDef="let data">
        <button
          mat-icon-button
          [style.visibility]="!data.expandable ? 'hidden' : ''"
          [style.marginLeft.px]="data.level * 32"
          (click)="treeControl.toggle(data)"
        >
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(data) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        {{data.categoryName}}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let data"><button nbButton (click)="demo(data)">submit</button></td>
    </ng-container> 
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->

  </nb-card-body>
  </nb-card>
</div>
<!-- <div class="col-md-12">
  <nb-card>
    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="MainCategorySource">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
</div> -->
</div>

<ng-template #dialog let-ref="dialogRef">
  <form [formGroup]="MainCategoryForm" (ngSubmit)="onCategoryFormSubmit()">
    <nb-card>
      <nb-card-header>Category Name
        <button type="button" (click)="NbDialogRef.close()" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </nb-card-header>
      <nb-card-body>
        <div class="form-group">
          <label for="categoryName" class="label">Category Name</label>
          <input type="text" nbInput fullWidth id="categoryName" placeholder="Enter Category Name"
            formControlName="categoryName" [status]="
            MainCategoryForm.get('categoryName').touched
                  ? MainCategoryForm.get('categoryName').invalid
                    ? 'danger'
                    : 'success'
                  : 'basic'
              " />
        </div>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton status="success" type="submit" [disabled]="MainCategoryForm.get('categoryName').invalid">
          Submit
        </button>
      </nb-card-footer>
    </nb-card>
  </form>
</ng-template>

<ng-template #dialog1 let-ref="dialogRef">
  <form [formGroup]="SubCategoryDetail" (ngSubmit)="onSubCategoryDetailFormSubmit()">
    <nb-card>
      <nb-card-header>{{SubcategoryOne.Maincategory}}&nbsp;&nbsp; - &nbsp;&nbsp;{{SubcategoryOne.Subcategory}}
        <button type="button" (click)="NbDialogRef.close()" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </nb-card-header>
      <nb-card-body>
        <div class="form-group">
          <label for="firstName" class="label">Select Month</label>
          <input type="month" nbInput [max]="getToday()" (change)="demo($event.target.value)" fullWidth id="firstName"
            placeholder="First Name" />
        </div>
        <div *ngIf="ViewSubCategoryDetail">
          <div class="form-group">
            <label for="perDayHours" class="label">Daily Working Hours</label>
            <input type="tel" nbInput formControlName="perDayHours" fullWidth id="perDayHours"
              placeholder="Daily Working Hours" />
          </div>
          <div class="form-group">
            <label for="totalNumberOfDaysWorking" class="label">Total Days Working</label>
            <input type="tel" nbInput formControlName="totalNumberOfDaysWorking" fullWidth id="totalNumberOfDaysWorking"
              placeholder="Total Days Working" />
          </div>
          <button nbButton status="success" type="submit" [disabled]="SubCategoryDetail.invalid">
            Submit
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </form>
</ng-template>